body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: aqua;
    text-align: center;
    font-weight: bold;
}

h2{
    color: white;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}